/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}



.header-container {
  width: 80%;
  margin: auto;
}

.main-container {
  width: 80%;
  margin: 20px auto;
  /* border: 2px solid gold; */
}

.header-content {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 10px;
  background-color: #222222;
  color: aliceblue;
}

.main-container h2 {
  border: 2px solid;
  border-radius: 99px;
  color: #222222;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.main-container img {
  display: block;
  width: 180px;
  /* width: 80%; */


}

.main-content h3 {
  width: 200px;
  margin: auto;
  text-align: center;
  border: 1px solid #222;
  border-radius: 99px;

}

.item {
  margin: 10px auto;
  padding: 10px;

}

.row-one {
  margin-bottom: 5px;
}

.content-item-xy {
  display: flex;
  justify-content: center;
  gap: 250px;
  margin-bottom: 20px;
}

.content-item-k {
  width: 340px;
  margin-top: 2cqi;
  border: 1px solid;
  border-radius: 30px;
  padding: 10px;
  background-color: rgba(rgb(173, 72, 72), green, blue, 0.5);
}



.form {

  width: 300px;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-button {
  width: 145px;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: yellow;

}

.btn-button:hover {
  background-color: yellowgreen;

}

.conten-item-hitung {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  padding: 10px;
  text-align: center;
  margin: auto;
  border: 1px solid #222;
  border-radius: 30px;
  gap: 20px;
  background-color: #fef8ef;

}

.btn-button:active {
  transform: translateY(5px);
}

button:disabled {
  background-color: red;
}

.alert-warning {
  font-size: 14px;
  font-weight: bold;
  color: red;
}

.content-item-k h4 {
  margin-bottom: 10px;
}

.container-item-k {
  display: flex;
  width: 30%;
  height: 350px;
  gap: 10px;
  justify-content: space-evenly;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: 5px auto;
  background-color: #fff;
}

.footer {
  background-color: #222;
  color: white;
  margin-top: 10px;
}

.footer p {
  text-align: center;
  padding-top: 35px;
}

@media only screen and (max-width: 600px) {
  .content-item-x img {
    display: none;
  }

}

@media only screen and (max-width: 900px) {

  .footer {
    /* display: none; */
    margin-top: 500px;
  }

  .form {
    width: 220px;
  }

  .btn-button {
    width: 110px;
  }

  .result {
    width: 220px;
  }

  .conten-item-hitung {
    display: none;
    width: auto;
    height: 600px;
    border: 1px white;
    /* border-radius: 100%; */
    background-color: white;
  }

  .conten-item-hitung {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .container-item-k {
    width: 300px;
    margin: 50px auto;
    /* background-color: aqua; */
    /* border: 1px solid; */
  }

  .content-item-k {
    width: 300px;
    margin-top: 250px;
    margin-bottom: 300px;
    height: 400px;
  }


}